﻿@model Planeta
@using StarWars.Domain.Core.Domain_Entities


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Planeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Terreno.Id" class="control-label"></label>
                <select asp-for="Terreno.Id" class="form-control">
                    @foreach (Terreno terreno in ViewBag.Terrenos)
                    {
                        <option value="@terreno.Id">@terreno.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Clima.Id" class="control-label"></label>
                <select asp-for="Clima.Id" class="form-control">
                    @foreach (Clima clima in ViewBag.Climas)
                    {
                        <option value="@clima.Id">@clima.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
